<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TeaTrees Suite" verbose="2">
    <test name="Unit-tests">
        <groups>
            <define name="unit-tests">
                <include name="blocks"/>
                <include name="waiting"/>
                <include name="nextMove"/>
            </define>
            <run>
                <include name="unit-tests"/>
            </run>
        </groups>
        <classes>
            <class name="com.epam.prejap.teatrees.block.ZBlockTest"/>
            <class name="com.epam.prejap.teatrees.game.WaiterTest"/>
            <class name="com.epam.prejap.teatrees.player.RandomPlayerTest"/>
        </classes>
    </test>
    <test name="Integration-tests">
        <classes>
            <class name="com.epam.prejap.teatrees.JarIT"/>
        </classes>
    </test>
</suite>
